
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFFFFF;
$black: #111111;

$primary-color: #2699fb;
$secondary-color: #bce0fd;
$dark-color: #083f91;
$dull-color: #dddddd;
